.container {
    display: grid;
    /* display: grid is used to enable CSS grid */
    grid-template-columns: repeat(4, 1fr);
    
    /* grid-template-columns: repeat(4, 1fr) is used to define the number of columns and the width of the columns */
    grid-gap: 48px;
    /* grid-gap: 10px is used to define the gap between the columns and the rows */
}
  .card{
    border: 1px solid black;
    height: 370px;
    width: 240px;
}