.card{
  border:1px solid black;
  width: 240px;
  height: 320px;
}

#card1{
  background-color: yellow;
}

#card2{
  background-color: blue;
}

#card3{
  background-color: crimson;
}

p{
  margin: 0;
}
#article-specific{
  padding: 24px;
  
}
html{
  display: block;
}
body{
  display: block;
}