.container{
    border: 1px solid black;
    height: 800px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: ; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box{
    border: 1px solid black;
    width: 100px;
    height: 100px;

    /* padding: auto auto; */
    /* text-align: center; */

    display: flex;
    justify-content: center;
    align-items: center;
}