header{
    background-color: #e3e3e3;
    padding: 2em;
    border: 1px solid black;
}
nav, h1, ul, li{
    display: inline;
    /*border: 1px solid black;*/
}
a{
    padding: 1em;
}

section{
    background-color: #f0efef;
    padding: 2em;
}
footer{
    border: 1px solid black;
    background-color: #e3e3e3;
    padding: 2em;
}