.outer{
    display: grid;
    /* grid-template-columns: 100px 1fr;
    grid-auto-rows: 100px 300px;
    gap: 8px;
    grid-template-areas: 
    "a a a"
    "nav main main"
    "footer footer footer"; */

    grid-template: 
    "a a a" 80px
    "nav main main" 500px
    "footer footer footer" 60px /
    1fr 2fr 1fr;
}

.outer > div {
    border: 1px solid black;
    background-color: lightblue;
    /* height: 100px; */
}

#inner1{
    /* header */
    grid-area: a;
}

#inner2{
    grid-area: nav;
}

#inner3{
    grid-area: main;
}

#inner4{
    grid-area: footer;
    /* grid-column: ; */
}