* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html {
  background-color: rgb(56, 56, 56);
}
h6 {
  /* font-weight: bold; */
  color: #fff;
  letter-spacing: -0.001rem;
}
header {
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}
li:hover {
  background-color: rgb(80, 80, 80);
  text-decoration: none;
}
/* li:visited {
  text-decoration: none;
} */
li,
a {
  color: #fff;
  text-decoration: none;
  padding: 0.5em 1em;
}

li,
a:hover {
  color: rgb(252, 120, 73);
}

ul,
li,
h6,
nav {
  display: inline;
}

h6 {
  font-size: 2em;
}

#article-read-more {
  height: auto;
  padding: 16px 16px;
  background-image: url("https://images.unsplash.com/photo-1670007770799-8ae5d669c923?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80");
  background-position: top;
  background-size: cover;
}

#article-read-more h3,
p {
  margin: 16px 0;
  margin-top: 0;
  color: rgb(255, 255, 255);
}
h3 {
  text-align: center;
  font-size: 3em;
}
#article-read-more {
  display: flex;
  flex-direction: column;
}
.btn.join {
  width: 5.3em;
  height: 2.5em;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: block;
  margin: 0 auto;
  color: #fff;
  appearance: none;
  outline: none;
  background-color: rgb(63, 63, 63);
  border: none;
}

h3,
em {
  font-style: normal;
  color: rgb(252, 120, 73);
}

h2 {
  color: #fff;
  text-align: center;
  padding: 1em 0;
  font-size: 1.7em;
}
p {
  font-size: 1.3em;
  text-align: center;
  line-height: 1.5em;
  margin: 0 1em;
  margin-bottom: 2em;
}

#article-about {
  display: flex;
  flex-direction: column;
  margin-bottom: 9em;
}

.btn.read-more {
  width: 6em;
  height: 2.5em;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: block;
  margin: 0 auto;
  color: #fff;
  appearance: none;
  outline: none;
  color: black;
  font-size: 0.9em;
  background-color: rgb(206, 204, 204);
  border: none;
}
.sec {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1.7em 0;
}

.icon-set {
  /* flex-direction: row;
  justify-content: center;
  display: block;
  margin: 0 auto; */
}
.sec.location {
  background-color: rgb(241, 241, 241);
}
.sec.tent {
  background-color: rgb(239, 119, 0);
}
.sec.fire {
  background-color: rgb(241, 241, 241);
}
.icon {
  display: block;
  width: 3em;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
h4 {
  font-size: 1.5em;
  text-align: center;
  color: black;
}
.sec p {
  display: block;
  justify-content: left;
  text-align: left;
  font-size: 1.3em;
  margin: 2em;
  color: black;
  padding-left: 2em;
  /* margin-left: 10em; */
}
footer {
  text-align: center;
  font-size: 0.7em;
  padding: 20px 0;
}
/* ///////////////////////////////////////////// */
@media screen and (max-width: 550px) {
  header {
    height: auto;
    flex-direction: column;
    padding: 0 8px;
  }

  li,
  a {
    width: 100%;
    color: #fff;
    text-decoration: none;
  }

  li {
    font-size: 0.8em;
    /* border: 1px solid black; */
    width: 100%;
  }
  li:nth-child(2) {
    border-top: 1px solid rgb(92, 91, 91);
    border-bottom: 1px solid rgb(92, 91, 91);
  }

  li ul,
  li,
  h6,
  nav {
    margin: 0 0;
    display: block;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
  }

  h6 {
    font-size: 1em;
    margin: 0.7em;
  }
  h4 {
    font-size: 1em;
    text-align: center;
    color: black;
  }
  h3 {
    padding-top: 0.7em;
    font-size: 3em;
  }
  h2 {
    color: #fff;
    text-align: center;
    padding: 1em 0;
    font-size: 1.2em;
  }
  .sec {
    display: flex;
    flex-direction: column;
    padding: 1.7em 0;
  }
  .sec p {
    display: block;
    justify-content: center;
    text-align: center;
    font-size: 0.9em;
    margin: 2em;
    color: black;
    padding-left: 2em;
    /* margin-left: 10em; */
  }
  p {
    font-size: 1em;
    text-align: center;
    line-height: 1.5em;
    margin: 0 1em;
    margin-bottom: 2em;
  }
}
